@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius: 16px;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --breakpoint-sphone: 320px;
  --breakpoint-mphone: 375px;
  --breakpoint-lphone: 425px;
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1600px;
}

@layer base {
  :root {
    --background: #f0e9e1;
    --secondaryBg: #ffffff;
    --text: #242323;
    --hoverBg: #e0d7cc;
    --activeBg: #d6c7b8;
  }

  .dark {
    --background: ##111822;
    --secondaryBg: #363434;
    --text: #e3dada;
    --hoverBg: #3a3a3a;
    --activeBg: #252525;
  }

  body {
    background-color: var(--background);
    color: var(--text);
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
